---
title: RichWidgets
mainPage: true
bodyClass: index
---

<div class="jumbotron">
  <div class="container row">
    <div class="col-lg-6 col-md-8">
    <h1>RichWidgets</h1>
    <p>Provides a set of responsive widgets built on top of jQuery UI and styled with Bootstrap 3.
      Use RichWidgets to bring rich and complex functionality to your web applications!</p>
    <p><a class="btn btn-primary btn-lg" href="about.html">Learn More</a></p>
    </div>
  </div>
</div>